<container id="burger-output" class="row col-md-12">
    <div class="pt-2 col-md-5">
        <h5 class="ml-2 pb-2">Added Burgers</h5>
        <ul>

            {{#each burgers_0 }}


            <li>

                <p>Burger {{this.id}}: {{this.burger_name}}
                    <button class="devour btn btn-outline-danger btn-md" data-id={{this.id}}>Devour </button>
                </p>

            </li>
            {{/each}}
        </ul>
    </div>
    <div class="col-md-2"></div>
    <div class="pt-2 col-md-5">
        <h5 class="ml-2 pb-2">Devoured Burgers</h5>
        <ul>

            {{#each burgers_1 }}


            <li>

                <p>{{this.burger_name}}</p>


            </li>
            {{/each}}
        </ul>
    </div>
</container>
<div class="row col-md-12">
    <div class="col-md-6">
        <h5 class="ml-2 pb-2">Create a Burger</h5>
        <form id="createburger" class="m-3 button-size">
            <input type="text" id="burger-name">
            <button class="btn btn-outline-success m-2" id="add-burger" type="submit">Save Burger!</button>
        </form>
    </div>
</div>



<script>
    // when user clicks add-btn
    $("#add-burger").on("click", function (event) {
        event.preventDefault();

        // make a newCharacter obj
        var newBurger = {
            // name from name input
            name: $("#burger-name")
                .val()
                .trim()
        };

        // send an AJAX POST-request with jQuery
        $.post("/api", newBurger)
            // on success, run this callback
            .then(function (data) {
                // log the data we found
                console.log(data);
                location.reload();
            });

        // empty each input box by replacing the value with an empty string
        //$("#burger-name").val("");
    });
    $(".devour").on("click", function (event) {
        //event.preventDefault();
        //let id = $(this).text().trim();
        let id = $(this).attr("data-id")
        // let updated_id = parseInt(id.slice(7, id.length));
        //console.log(updated_id);

        let updatedBurger = {
            id: id,
            devoured: 1,
        };
        $.ajax("/api/burgers/" + id, {
            type: "PUT",
            data: updatedBurger
        }).then(
            function () {
                console.log("updated id ", id);
                // Reload the page to get the updated list
                location.reload();
            }
        );

    });
</script>